
body {
    background-color: #f1f1f1; 
    background-image: url(img/2.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.container {
    background-color: rgba(255, 255, 255, 0.8); /* Nền mờ */
    background-image: url(img/1.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    position: relative;
    z-index: 1;
}


h2 {
    color: #e63946; 
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.6); 
    margin-bottom: 20px;
}


input[type="Password"] {
    padding: 10px;
    width: 80%;
    border: 2px solid #ff6347; 
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
    background-color: #fff;
    color: #333;
}


input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff4500; 
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e63946; 
}


label {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    display: block;
}


input[type="Password"]:focus, input[type="submit"]:focus {
    outline: none;
    border-color: #228b22; 
    box-shadow: 0 0 8px rgba(0, 255, 85, 0.7); 

